modules = ["python-3.11"]

[nix]
packages = ["cargo", "freetype", "glibcLocales", "libiconv", "libxcrypt", "openssl", "pkg-config", "rustc"]

[[ports]]
localPort = 5000
externalPort = 3000

[workflows]
runButton = "CV Optimizer Pro"

[[workflows.workflow]]
name = "CV Optimizer Pro"
author = 46476139
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
